.f-adress {
  background-color: var(--bckgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.f-adress .conteiner {
  display: flex;
  align-items: baseline;
}

.f-adress .logo {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--bckgr-body-color);
}
