:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --logo-focus-color: #2196F3;
    --bckgr-color: #2F303A;
    --bckgr-deteil-color: #E5E5E5;
    --bckgr-body-color:#FFFFFF;
    --picture-color:#F5F4FA;
}



body {
    font-family:  Roboto, sans-serif;
    background-color: var(--bckgr-body-color);
    color: var(--primary-text-color);


}

ul {
    list-style: none;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

    /* navigation */

    .logo{
        margin-right: 93px;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000000;
    }

    .logo-log{
        color: var(--logo-focus-color);
    }
    
    .header .conteiner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 25px;
            outline: 2px solid red;
    }
    .navigation {
       display: flex;
       justify-content: space-evenly;
       align-items: center;

   }

    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-list .list {

        margin-right: 50px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primary-text-color);

    }
    
    .nav-list .list:hover,
    .nav-list .list:focus {
        color: var(--logo-focus-color);
    }

    .nav-list .list.current{
        color: var(--logo-focus-color);
    }

    .nav-contact{
        display: flex; 
        margin: 0;
        padding: 0;
    }

    .nav-contact .contact {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--title-text-color);

    }

    .nav-contact .contact:hover,
    .nav-contact .contact:focus {
        color: var(--logo-focus-color);
    }
    .contact{
        margin-left: 50px;
    }
    .contact :nth-child(2n){
        margin: auto;
    }

/* main content */

    .main{

    }

    /* top panel */

        .panel{

            margin-bottom: 94px;
            padding-top: 200px;
            padding-bottom: 280px;
            text-align: center;
            
            background-color: var(--bckgr-color);
            outline: 2px solid chartreuse;
            
            
        }

        .heading{
            
            margin: 0;
            
            margin-left: auto;
            margin-right: auto;
            width: 696px;
            height: 120px;
            margin-bottom: 30px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.4;
           
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--bckgr-body-color);
            outline: 2px solid yellow;
        }

        .button-primary{

            min-width: 200px;
            display: inline-block;
            border-radius: 4px;
            padding: 10px 32px;
            text-align: center;
            font-family: 'Roboto', sans-serif;           
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;
            background-color: var(--logo-focus-color);
            color: var(--bckgr-body-color);
            
        }

    /* deteil */

        .deteil.picture{
            background-color: var(--bckgr-deteil-color);

        }

        .deteil{

            margin-bottom: 94px;
            outline: 10px solid green
        }

        .deteil-bl{
            
        }
        .skills{
            font-size: 0;        }

        .deteil-block h3{

            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.15;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--primary-text-color);
        }

        .deteil-block {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            outline: 10px solid purple;
           
        }

        .deteil-text{
            margin: 0;
            padding: 0;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;            
            color: var(--title-text-color);
        }


       /*  What doing  */
        
            .picture{
                margin-bottom: 94px;
            }   
            .picture-desc{

                margin: 0;
                padding: 0;
                margin-bottom: 50px;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.15;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--primary-text-color);
                
            }
            .picture-img{
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;

            }
            .picture-pic{

            }

    /* Nasha comanda */

        .comand{
            /* margin-bottom: 94px;         */
            
            background-color: var(--bckgr-deteil-color);
            font-weight: 700;
            font-size: 36px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.03em;           
            color: var(--primary-text-color);
        }
        .comand.conteiner{
            padding-bottom: 94px;
        }
        .comand-log{

            margin:0;
            padding-top: 94px;
            padding-bottom: 50px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            
        }
        .comand-block{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
        .comand-block img{
            margin-bottom: 30px;
        }
        .comand-block h3{
            margin-bottom: 10px;
        }
        .comand-user{
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;           
            color: var(--primary-text-color);
        }
        .profession{
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;            
            color: var(--title-text-color);
        }

/* Footer */
 
    .f-adress{
        background-color: var(--bckgr-color);
    }
    .f-adress .conteiner{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .f-adress .logo{
        margin: 0;
        font-family: 'Raleway',
        sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--bckgr-body-color);
    }

    /* Adress */

        .inform{
            margin-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;       
        
        }

        .inform-block{
            margin: 0;
            padding: 0;
        }
        .inform-block li{
            margin-bottom: 9px;
        }

        .inform-block .inform-cont:hover,
        .inform-block .inform-cont:focus {
            color: var(--logo-focus-color);          
        }
        .inform-block .inform-cont-gr:hover,
        .inform-block .inform-cont-gr:focus{
            color: var(--logo-focus-color);
        }

        .inform-cont{  
            text-decoration: none;
            color: var(--bckgr-body-color);
        }
        .inform-cont-gr{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);          
        }

/*  M A I N  P O R T F O L I O  */

        .portfolio-body{
            background-color: var(--bckgr-deteil-color);
        }
        .main-portfolio section{
            padding-top: 94px;
            padding-bottom: 94px;
        }

    /* Button */


    .main-portfolio .del {
        font-size: 0;
       
    }
    
    .button-panel{
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 50px;
        padding-left: 0;
        
    }
    
    .button-panel li {
        margin-right: 8px;
    }
    .button-secondary{

        min-width: 73px;  
        display: inline-block;
        border-radius: 4px;
        padding: 6px 22px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;       
        cursor: pointer;
        font-family: inherit;
    }
    .button-secondary{
        background-color: var(--picture-color);
        color: var(--primary-text-color);
        
    }
    .button-secondary:hover,
    .button-secondary:focus{
        color: var(--bckgr-body-color);
        background-color: var(--logo-focus-color);
    }

    /* Srvices */

    .serv-photo .photo{
        margin-top: 0;
        margin-bottom: 4px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);

    }
    .serv-photo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    .serv-photo li{
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .serv-photo li:nth-child(n+3){
        margin-right: 0;   
    }
    .serv-photo li:nth-child(n+7){
        margin-bottom: 0;
    }
    .serv-photo img{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .photo-text{

        margin-top: 0;
        margin-bottom: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        
    } 