:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --logo-focus-color: #2196F3;
    --bckgr-color: #2F303A;
    --bckgr-deteil-color: #E5E5E5;
    --bckgr-body-color: #FFFFFF;
    --picture-color: #F5F4FA;
    --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



body {
    font-family: Roboto, sans-serif;
    background-color: var(--bckgr-body-color);
    color: var(--primary-text-color);
    margin: auto;

}

ul {
    list-style: none;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

/* navigation */

.logo {

    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
}

.logo-log {
    color: var(--logo-focus-color);
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
    /* outline: 2px solid red; */
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li+li {
    margin-left: 50px;
}

.nav-list .list {

    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list .list:hover,
.nav-list .list:focus {
    color: var(--logo-focus-color);
}

.nav-list .list.current {
    color: var(--logo-focus-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .list:hover:after,
.nav-list .list:focus:after,
.nav-list .list.current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--logo-focus-color);
    bottom: 0;
    left: 0;
}




.nav-contact {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-contact li {
    margin-left: 50px;
}

.nav-contact li:first-child {
    margin-left: 0;
}

.nav-contact .contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);

}

.nav-mail {
    margin-right: 10px;
    fill: currentColor;

}

.nav-contact .contact:hover,
.nav-contact .contact:focus {
    color: var(--logo-focus-color);
}

.nav-mail:hover,
.nav-mail:focus {
    fill: currentColor;
}

.contact :nth-child(2n) {
    margin: auto;
}

/* main content */



/* top panel */

.panel {


    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--bckgr-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imeges/overlay.jpg);
    background-repeat: no-repeat;

}

.heading {

    margin: 0;

    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bckgr-body-color);
    /* outline: 2px solid yellow; */
}

.button-primary {

    min-width: 200px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--logo-focus-color);
    color: var(--bckgr-body-color);

}

.button-primary:hover {
    background-color: #188CE8;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 521px;
    min-height: 581px;
    padding: 15px;
    background-color: var(--bckgr-body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button {

    padding: 0;
    margin: 0;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;


}

.modal-button-icon {

    width: 20px;
    height: 20px;
}


/* deteil */


.deteil {

    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 10px solid green */
}

.skills {
    font-size: 0;
}

.deteil-block h3 {

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.deteil-block {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* outline: 10px solid purple; */

}

.deteil-block li {
    width: 270px;
}

.deteil-block li+li {
    margin-left: 30px;
}

.deteil-list::before {

    content: "";
    display: block;
    height: 120px;
    background-size: contein;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;

}

.icon-antena::before {
    background-image: url(../imeges/icon/antenna.svg);
}

.icon-clock::before {
    background-image: url(../imeges/icon/clock.svg);
}

.icon-diagram::before {
    background-image: url(../imeges/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../imeges/icon/astronaut.svg);
}

.deteil-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/*  What doing  */

.picture {
    padding-bottom: 94px;
}

.picture-desc {

    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.picture-img {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.picture-pic img {
    display: block;
}

.picture-pic {
    position: relative;
}


.picture-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bckgr-body-color);
    background: rgba(47, 48, 58, 0.8);
}



/* Nasha comanda */

.comand-sec {

    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--picture-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.comand-log {

    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

}

.comand-block {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.photo-prof {
    display: block;
    margin: 0;
    padding: 0;
}

.comand-block li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand-block h3 {
    margin-bottom: 10px;
}

.comand-prof {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--bckgr-body-color);
    border-radius: 0px 0px 4px 4px;
}

.comand.user {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.profession {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.comand-user {
    display: flex;
    margin: 0;
    padding: 0 32px;
    justify-content: space-between;
    list-style: none;
}

.comand-user li {

    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 44px;
    height: 44px;

}

.button-icon {
    display: flex;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}

.button-icon .photo-instagram,
.photo-twitter,
.photo-facebook,
.photo-linkedin {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

}

.button-icon:hover,
.button-icon:focus {
    background-color: var(--logo-focus-color);
}

.button-icon:hover .photo-instagram,
.button-icon:hover .photo-twitter,
.button-icon:hover .photo-facebook,
.button-icon:hover .photo-linkedin {
    fill: var(--bckgr-body-color);
}

.button-icon:focus .photo-instagram,
.button-icon:focus .photo-twitter,
.button-icon:focus .photo-facebook,
.button-icon:focus .photo-linkedin {

    fill: var(--bckgr-body-color);
}



/* CLIENTS */

.clients {
    padding: 94px 0;
}

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.button-clients {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.button-clients li {
    margin: 0;
    padding: 0;
    width: 170px;
    height: 92px;
}

.button-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 92px;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #AFB1B8;

}

.button-group {
    fill: currentColor;
    width: 106px;
    height: 60px;

}

.button-user:hover,
.button-user:focus {
    border-color: var(--logo-focus-color);
    color: var(--logo-focus-color);
}


/* Footer */

.f-adress {
    background-color: var(--bckgr-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.f-adress .conteiner {
    display: flex;
    align-items: baseline;
}

.f-adress .logo {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bckgr-body-color);
}

.f-button {
    margin-left: 70px;

}

.f-button h3 {
    text-align: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--bckgr-body-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}

.f-under {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;

}

.f-under li {
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;

}

.f-under li+li {

    margin-left: 10px;
    border: none;

}

.f-under .button {
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}

.f-under .button-instagram,
.f-under .button-twitter,
.f-under .button-facebook,
.f-under .button-linkedin {
    fill: var(--bckgr-body-color);
    width: 20px;
    height: 20px;

}

.f-under .button:hover,
.f-under .button:focus {
    background-color: var(--logo-focus-color);
}

/* Adress */

.inform {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}

.inform-block {
    margin: 0;
    padding: 0;
}

.inform-block li {
    margin-bottom: 9px;
}

.inform-block .inform-cont:hover,
.inform-block .inform-cont:focus {
    color: var(--logo-focus-color);
}

.inform-block .inform-cont-gr:hover,
.inform-block .inform-cont-gr:focus {
    color: var(--logo-focus-color);
}

.inform-cont {
    text-decoration: none;
    color: var(--bckgr-body-color);
}

.inform-cont-gr {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*  M A I N  P O R T F O L I O  */

.portfolio-body {
    background-color: var(--bckgr-body-color);
}


.content-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Button */


.main-portfolio .del {
    font-size: 0;

}

.button-panel {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;


}

.button-panel li+li {
    margin-left: 8px;
}

.button-secondary {

    min-width: 73px;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.button-secondary {
    background-color: var(--picture-color);
    color: var(--primary-text-color);

}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--bckgr-body-color);
    background-color: var(--logo-focus-color);
}

/* Srvices */

.serv-photo .photo {
    margin-top: 0;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

}

.serv-photo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.serv-photo li {

    margin-right: 30px;
    margin-bottom: 30px;
}

.serv-photo li:nth-child(3n) {
    margin-right: 0;
}

.serv-photo li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.serv-photo a {
    display: block;
}

.serv-photo a:hover,
.serv-photo a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.photo-bord {

    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.serv-photo img {
    display: block;
    margin: 0;
    padding: 0;
}

.photo-text {

    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}

.photo-block {
    position: relative;

}

.photo-window {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--bckgr-body-color);
    background: rgba(33, 150, 243, 0.9);


}

.serv-photo a:hover .photo-window,
.serv-photo a:focus .photo-window {
    opacity: 1;



}

/* .photo-block:hover {
    transform: translatey(0);
} */